<footer class="container-fluid mt-5">
    <div class="container">
        <div class="row py-4 d-flex justify-content-between align-items-center">
            <div class="col-md-6">
                <h5>About Us</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</p>
            </div>
            <div class="col-md-4 text-md-right text-center">
                <h5>Follow Me</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-github fa-lg me-2"></i>Github</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa--twitter fa-lg me-2"></i>X</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-white"><i class="fab fa-linkedin fa-lg me-2"></i>Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center py-2">
                <p class="mb-0">© 2024 Skill Swap. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
