{{ if .HasSess}}
{{template "partials/offer" .}}
{{ end }}


<div class="container mt-5">
    <div class="row">
        {{ range $Offer := .Offers}}
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <!-- User Info -->
                <div class="card-body d-flex align-items-center">
                    <img src="/src/images/{{ $Offer.User.User_id }}.png" alt="Profile" class="rounded-circle me-3"
                        style="width: 50px; height: 50px;">
                    <div>
                        <a href="/profile/{{ $Offer.User.User_id}}" class="text-decoration-none">
                            <h6 class="mb-0">{{ $Offer.User.Username}}</h6>
                        </a>
                        <small class="text-muted">Posted {{$Offer.PrettyTime}} ago</small>
                    </div>
                </div>
                <!-- Offer Description -->
                <div class="card-body">
                    <h5 class="card-title">{{ $Offer.Title}}</h5>
                    <p class="card-text overflow-auto" style="max-height: 150px;">{{ $Offer.Description}} </p>

                    <!-- Tags Section -->
                    <div class="mb-3">
                        {{ range $val := $Offer.Tags }}
                        <span class="badge bg-success rounded-pill">{{ $val.Tag }}</span>
                        {{ end }}
                    </div>

                    <!-- Button -->
                    <a href="/offer/{{ $Offer.Offer_id}}" class="btn btn-primary">View Offer</a>
                </div>
            </div>
        </div>
        {{end}}

    </div>
</div>
